body{
    background-color: orangered;
    transition: blue;
}
.container{
    position: relative;
    width:auto;
}
.navbar {
    background-color: rgb(45, 176, 136);
    display:flex;
    justify-content: center;
    content:center;
    text-align: center;
    padding:25px 25px;
    margin:5px;
}

.navbar a{
    width: 25%;
}

.navbar a:hover{
    transition: 2s;
    background-color: black;
}
.navbar a:link{
    color:white;
    text-decoration: none;
}
.introduction {
    position: static;
    background-color: blueviolet;
    top: 7px;
    left:16px;
    font-size: 50px;
}
.About{
    position:static;
    background-color: blue;

}

.Sports{
    position:static;
    background-color: black;
    color:white;
}

.footer{
    display: inline;
}